@import 'font';
@import 'variables';
@import 'mixins';

// @import '../../plugins/bootstrap/scss/bootstrap';

@import "~bootstrap/scss/bootstrap";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: $body-bg;   
    color: $dark;
    font: $font-size $font-stack;
    position: relative;
}

@import 'overwrite';
@import 'custom';
@import 'breakpoint';

img:not(#avatar){
    filter: saturate(0.4);
    transition: all .4s ease-in-out;

    &:hover {
        filter: saturate(1);
    }
}